$top-padding: 10vh;

$text-color: #333;
$content-margin: 5%;
$max-content-width: 800px;
$navbar-height: 5rem;
$sidebar-max-width: 300px;

$accent-color-1: rgb(0, 175, 67);

$breakpoint: 840px;
$breakpoint2: 600px;

$footer-background-color: #eee;
$footer-text-color: #999;
$footer-height: 12rem;